body {
    margin: 0 auto;
    width: 800px;
    /* height: 200px; */
    /* border: 1px solid red; */
}

.menus {
    width: 160px;
    display: inline-block;
    vertical-align:top;
    /* border: 1px solid blue; */
}

.menus a {
    text-decoration: none;
    width: 150px;
    height: 50px;
    line-height: 50px;
    display: block;
    padding-left: 10px;
}

.active {
    background: rgb(101, 101, 247);
    color: #fff;
}

.content {
    width: 630px;
    display: inline-block;
    /* border: 1px solid green; */
}